body {
  background-color: #f9f7fe;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  font-size: 37px;
}
h2 {
  margin: 0 0 5px 0;
  font-size: 28px;
}
select {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  background-color: #fff;
}
.container {
  max-width: 630px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}
.date {
  opacity: 0.7;
}
.time {
  font-size: 45px;
  font-weight: bold;
}
.time .abbreviation {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
}
footer {
  text-align: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
